@import "~react-vis/dist/main";
@import "../colors.scss";

.VisChart {
    padding-bottom: 40px;
}

.VisChart-content {
    background-color: $color-white;
};

.VisChart-chart-container {
    position: relative;
    width: 100%;
    height: 400px;
    max-height: 400px;
    background-color: $color-white;
};

.VisChart-rect {
    rect {
        fill: $color-caution;
        stroke: $color-white;
    }
}
