@import "~react-vis/dist/main";

$color-fuel: #002d5b;
$color-shift: #0082ff;
$color-shift-hover: #026bcf;
$color-accelerate: #009851;
$color-go: #1dbd71;
$color-caution: #fdb22b;
$color-stop: #ed3354;
$color-pavement: #f6f7f9;
$color-dashboard: #cbd4de;
$color-cement: #5c7996;
$color-white: #ffffff;
$color-black: #212121;

.VisChart-chart-container {
    position: relative;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-color: $color-white;
};

.VisChart-rect {
    rect {
        fill: $color-caution;
        stroke: $color-white;
    }
}
