$color-fuel: #002d5b;
$color-shift: #0082ff;
$color-shift-hover: #026bcf;
$color-accelerate: #009851;
$color-go: #1dbd71;
$color-caution: #fdb22b;
$color-stop: #ed3354;
$color-pavement: #f6f7f9;
$color-dashboard: #cbd4de;
$color-cement: #5c7996;
$color-white: #ffffff;
$color-black: #212121;
$color-highlight: #fff000;
$color-social-behance: #1769ff;
$color-social-dribbble: #ea4c89;
$color-social-facebook: #3b5998;
$color-social-github: #cccccc;
$color-social-linkedin: #007bb6;
$color-social-twitter: #00aced;
$color-social-yelp: #c41200;
