@import "../colors.scss";

.ChartistChart {
    padding-bottom: 40px;
}

.ChartistChart-chart-container {
    background-color: $color-white;
}

.ChartistChart-chart-wrapper {
    position: relative;
    width: 100%;
    background-color: $color-white;
    height: 400px; // also set in the component js for charts

    .ChartistChart-chart-line {
        position: absolute;
        pointer-events: none;

        .ct-line {
            stroke: $color-go;
            opacity: 0.5;
        }

        .ct-point,
        .ct-circle {
            stroke: $color-go;
            pointer-events: all;
        }

        .ct-label {
            overflow: auto;
        }

        .ct-legend {
            left: 175px;
            top: 340px;
            display: inline-block;

            li {
                &::before {
                    top: 2px;
                    border-color: $color-go;
                    background-color: $color-white;
                }
            }
        }
    }

    .ChartistChart-chart-bar {
        position: absolute;

        .ct-bar {
            stroke: $color-caution;
            stroke-width: 15px;
        }

        .ct-legend {
            display: inline-block;
            top: 340px;

            li {
                padding-left: 50px;

                &::before {
                    top: 2px;
                    border-radius: 0;
                    width: 40px;
                    border-color: $color-caution;
                    background-color: $color-caution;
                }
            }
        }
    }
}

.ActivityChartTooltip {
    padding: 0 8px;
}

.ActivityChartTooltip-main {
    font-weight: 600;
    padding-bottom: 8px;
}
